# Git files
.git
.gitignore

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Cache and temporary files
cache/*
!cache/.gitkeep

# MacOS files
.DS_Store
**/.DS_Store

# IDE files
.vscode
.idea

# Logs
*.log

# Documentation
README.md
*.md

# Backup files
*.bak
*.backup 